/* General styles for the register page */
.register-page {
    background-image: url("https://wallpapercave.com/wp/wp11187791.jpg");

    height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Register container with responsive behavior */
.register-container {
    width: 100%;
    padding: 15px;
}

/* Register box styles with responsive max width */
.register-box {
    width: 100%;
    max-width: 500px;  /* Set a maximum width to make it look good on larger screens */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);  /* Added a subtle shadow */
}

/* Input fields and button full width */
.full-width-input {
    width: 100%;
}

/* Ensure buttons are full width for all screen sizes */
.btn {
    width: 100%;
}

/* Adjustments for smaller screen sizes */
@media (max-width: 576px) {
    .register-box {
        padding: 15px;
        max-width: 90%;  /* Reducing the max width slightly for small screens */
    }
}
